# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# dotenv
.env

# virtualenv
venv/
ENV/

# Sometimes I edit this on Mac
*.DS_Store
.vscode/

# Home Assistant
*.log
.HA_VERSION
deps/
home-assistant_v2.db
home-assistant_v2.db-journal
home-assistant_v2.db-shm
home-assistant_v2.db-wal
secrets.yaml
html5_push_registrations.conf
known_devices.yaml
.uuid
google_calendars.yaml
.google.token
.google_maps_location_sharing.cookies*
tts/
www/lovelace/
www/community/
ip_bans.yaml
.spotify-token-cache
nest.conf
.cloud/
entity_registry.yaml
plex.conf
.tradfri_psk.conf
google_cloud_credentials.json
google_cloud_assistant_credentials.json
.storage/*
!.storage/lovelace
appdaemon/compiled
custom_components/hacs/

# ESPHome
esphome/*
!esphome/*.yaml
!esphome/wiring_diagrams/
esphome/secrets.yaml
# .pioenvs/
# .piolibdeps/
