esphome:
  name: fairy-lights
  friendly_name: "Fairy Lights"

esp32:
  board: esp32doit-devkit-v1
  framework:
    type: esp-idf
    # Temp fix for https://github.com/esphome/esphome/issues/13560
    version: 5.5.2
    release: "260206"

packages:
  device_base: !include common/device_base.yaml

# Enable logging
logger:
  level: INFO

# BLE Hub
esp32_ble_tracker:
  scan_parameters:
    # interval: 1100ms
    # window: 1100ms
    active: true

bluetooth_proxy:
  active: true

sensor:
  - platform: wifi_signal
    name: "WiFi Signal"
    update_interval: 60s

output:
  - platform: ledc
    pin: 2
    frequency: 5000
    id: pin_2

light:
  - platform: monochromatic
    name: "Fairy Lights"
    icon: "mdi:bed"
    output: pin_2
