esphome:
  name: garage-bluetooth-proxy
  friendly_name: Garage Bluetooth Proxy

esp32:
  board: esp32doit-devkit-v1
  framework:
    type: esp-idf
    advanced:
      minimum_chip_revision: "3.0"

packages:
  device_base: !include common/device_base.yaml

# Enable logging
logger:
  level: INFO

# BLE Hub
esp32_ble_tracker:
  scan_parameters:
    interval: 1100ms
    window: 1100ms
    active: true

bluetooth_proxy:
  active: true

sensor:
  - platform: wifi_signal
    name: "WiFi Signal"
    update_interval: 60s
